{% extends "base.html" %}
{% load static %}

{% block title %}Add Journal Entry{% endblock %}

{% block navbar %}
{{ parent.navbar }}
{% endblock %}

{% block content %}
<section>
    <h1>Add a New Journal Entry</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Save</button>
        <a href="{% url 'journalentries' %}" class="btn btn-secondary">Cancel</a>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
</section>
{% endblock %}