{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mentality Blog{% endblock %}</title>
    <!-- CSS links goes here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Navigation bar goes here -->
        {% block navbar %}
            <nav>
                <ul>

                </ul>
            </nav>
        {% endblock %}
    </header>

    <main>
        {% block content %}
            <!-- Content of individual pages goes here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    <!-- JavaScript links goes here -->
</body>
</html>