{% extends "base.html" %}
{% load static %}

{% block title %}Edit Journal Entry{% endblock %}

{% block navbar %}
    {{ parent.navbar }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2"></div>
            <h2>Edit Your Journal Entry</h2>
            <form class="confirmation-edit" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                        <a class="" class="class"></a>
                    </div>
                </div>
            </form>
    </div>
</div>
    
    <form method="post">
        
        <button type="submit">Update</button>
    </form>
{% endblock %}