{% extends "base.html" %}
{% load static %}

{% block title %}Edit/Delete Journal Entry{% endblock %}

{% block navbar %}
{{ parent.navbar }}
{% endblock %}

{% block content %}
<section>
    <h1>Edit/Delete Journal Entry</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'journalentries' %}" class="btn btn-secondary">Cancel</a>
    </form>
</section>
{% endblock %}