{% extends "base.html" %}
{% load static %}

{% block title %}Journal Entries{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block content %}
<section>
{% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h1>Your Journal Entries</h1>
  <br>
  <br>
  {% for entry in journalentry_list %}
    <article>
      <h3>Title: {{ entry.title }}</h3>
      <p>Entry Text: {{ entry.entry_text }}</p>
      {% if entry.mood == 1 %}
      <p>Mood: happy</p>
      {% elif entry.mood == 2 %}
      <p>Mood: neutral</p>
      {% elif entry.mood == 3 %}
      <p>Mood: sad</p>
      {% endif %}
      <p>Resource: {{ entry.resource }}</p>
      <p>Resource Title: {{ entry.resourcetitle }}</p>
      {% if entry.resourceurl != None %}
      <a href="{{ entry.resourceurl }}"><p>Resource URL: {{ entry.resourceurl }}</p></a>
      {% endif %}
      {% if user.is_authenticated and entry.user == user %}
        <a href="{% url 'editjournalentry' journalentry_id=entry.id %}" class="btn btn-edit btn-success">Edit</a>
        <a href="{% url 'deletejournalentry' journalentry_id=entry.id %}" class="btn btn-danger">Delete</a>
        <br>
        <br>
      {% endif %}
    </article>
  {% empty %}
    <p>You have no journal entries yet.</p>
  {% endfor %}

  {% if is_paginated %}
  <div class="row">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
{% endblock %}
</section>
{% block extras %}
  <script src="{% static '/assets/js/delete.js' %}"></script>
{% endblock %}